/* colors{ 
borders & hoover : #d91f27  
background: #fbf1cb 
hoover text : #f3a91c
text : #040305
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 430px) {
  .nav {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbf1cb;
  }

  .homePage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../src/assets/lunchroom-het-oosten-indebuurt-dordrecht.jpg");
    background-repeat: round;
    background-size: cover;
  }
  .home {
    color: #fff;
    margin: 10px;
    width: 160px;
    height: 180px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border: #d91f27 solid 3px;
    border-radius: 20px;
    box-shadow: #fbf1cb71 5px 5px 5px;
  }

  .footer {
    margin: 10px;
    height: 60px;
    text-align: center;
    background-color: #fbf1cb;
  }
}
